<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cilguru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/cillogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/cillogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firebase.fcm.Cactivity">

        </activity>
        <activity android:name=".ui.details.ShopDetail2" />
        <activity android:name=".ui.web.Video" />
        <activity
            android:name=".ui.details.Purchase"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ProfileSetting.SettingAcivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Splash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.web.FullscreenDemoActivity" />
        <activity android:name=".ui.details.CourseVideo" />
        <activity android:name=".ui.details.Csvd" />
        <activity android:name=".ui.details.ShopContact">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.details.FullImage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_image" />
        <activity
            android:name=".ui.details.MyPurchase"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.other.Contact" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.details.ShopDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.web.VideoPlayer"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.loginreg.Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.loginreg.Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.loginreg.ResetPasswordActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".firebase.fcm.CilMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service> <!-- Meta-data -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cillogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

<!--        <service-->
<!--            android:name=".firebase.fcm.MyFirebaseMessagingService"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--            </intent-filter>-->
<!--        </service>-->

    </application>

</manifest>